<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty scope="context" name="environment" source="app.environment" defaultValue="local"/>
    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="order-service"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>

                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <message/>
                <mdc/>
                <kvPairs/>
                <arguments>
                    <includeNonStructuredArguments>true</includeNonStructuredArguments>
                </arguments>                <pattern>
                    <pattern>
                        {
                        "service": "${serviceName}",
                        "environment": "${environment}"
                        }
                    </pattern>
                </pattern>

                <stackTrace/>

            </providers>

        </encoder>

    </appender>

    <appender name="JSON_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/order-service.json</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>
                logs/order-service.%d{yyyy-MM-dd}.%i.json.gz
            </fileNamePattern>

            <maxFileSize>10MB</maxFileSize>

            <maxHistory>7</maxHistory>

            <totalSizeCap>500MB</totalSizeCap>

        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>

                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <message/>

                <mdc/>

                <kvPairs/>

                <arguments>
                    <includeNonStructuredArguments>true</includeNonStructuredArguments>
                </arguments>

                <pattern>
                    <pattern>
                        {
                        "service": "${serviceName}",
                        "environment": "${environment}"
                        }
                    </pattern>
                </pattern>

                <stackTrace/>

            </providers>

        </encoder>

    </appender>

    <root level="INFO">

        <appender-ref ref="JSON_CONSOLE"/>

        <appender-ref ref="JSON_FILE"/>

    </root>

</configuration>